/* from: https://medium.com/@Idan_Co/the-ultimate-print-html-template-with-header-footer-568f415f6d2a */

div[data-placeholder]:not(:focus):not([data-div-placeholder-content]):before {
    content: attr(data-placeholder);
    float: left;
    margin-left: 2px;
    color: #b3b3b3;
}

.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
.toggle.ios .toggle-handle { border-radius: 20px; }

.printbutton:hover {
	color: #fff;
    background-color: #449d44;
    border-color: #398439;
}
.printbutton {
	float: right; 
	color: #000; 
	border-color: #000; 
	background-color: transparent;
}

.page-header-space {
	margin-bottom: 20px;
}

.page-header, .page-header-space {
	height: 120px;
    font-weight: bold;
	z-index:999;
}

.page-footer, .page-footer-space {
	height: 115px;
    padding-top: 10px;
    font-weight: bold;
	z-index:999;

}

.page-footer {
	position: fixed;
	/*display: none;*/
	bottom: 0;
	width: 100%;
	border-top: 3px solid black; /* for demo */
	background: white !important;
}

.page-header {
	position: fixed;
	/*display: none;*/
	top: 0mm;
	width: 100%;
	border-bottom: 4px double black; /* for demo */
	background: #88b2ff80 !important; /* for demo */
	font-size: 17px;
    padding-top: 10px;
}

.page {
	page-break-after: always;
}
.panel-body {
	border-style: inset;
}
.editable {
	border: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
    outline: none !important;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px
}

.editable .span-0{ /* Added to reset styles correctly */
	font-weight: normal;   /* Reset b */
	text-decoration: none; /* Reset u */
	font-style: normal;    /* Reset i */
}

.editable .span-b{
	font-weight: bold;
}

.editable .span-u{
	text-decoration: underline;
}

.editable .span-i{
	font-style: italic;
}
.page-footer, .page-header, .page-footer-space, .page-header-space {
	/*visibility: hidden;*/
	display: none;
}

#address-wrapper, #email-wrapper {
	padding: 0px 10px;
}

#address {
	
}
#email {
    text-align: left;
}
#logoncs {
	float: right;
}
#dr_title {
	text-align: center;
}
#report_date {
	float: right;
}
#speciality-wrapper, #date-wrapper {
	height: 100%;
	display: flex;
    align-items: center;
}

#date-wrapper {
	justify-content: flex-end;
}


@page {
	margin: 20mm
}

@media print {
	/*body * {
		visibility: hidden;
	}*/
	body {-webkit-print-color-adjust: exact;}
	.page-footer, .page-footer-space, .page-header, .page-header-space {
		/*visibility: visible;*/
		display: block;
		left:0px;
		right:0px;
	}

	/*.printable { display: block; }*/
	/*.nonprintable { display: none; }*/
	thead {display: table-header-group;} 
	tfoot {display: table-footer-group;}
	/*.page-footer, .page-header {
		display: inherit;
	}*/
	button {display: none;}
	
	body {margin: 10px;}
}